@charset "utf-8";

/* Body */ 

    * {
        box-sizing: border-box;
        padding: 0;
        margin: 0;
        border: 0;
    }
     /* Row 1 / Header*/
      nav, .nav-item, .navbar-brand, .nav-link {
        background-color: #023E7D !important;
        color:white !important;
      }
      .navbar-toggler {
        background-color: #023E7D !important;
        color:white !important;
      }
      header, footer p {
        color: white;
      }

      li {
        font-size: 1.2em;
      }

     /* Row 2 Banner */

      #banner {
        background-color: gray;
        height: 250px;
        max-height: 250px;
      }

     /* Row 3 Section 1*/ 

     #section1 > div, #section2 > div {
      align-items: center;
     }


     #section2 {
      background-color: #D9D9D9;
     }

     button {
     color:white;
      padding: 5px;
      background-color: #0353A4;
      width: 50%;
      border: 1px solid black;
      border-radius: 5px !important;
     }

     footer{
      background-color: #023E7D;
     }

     /* Row 1 / Header*/
nav {
    background-color: #023E7D;
}

header, footer p, footer h3 {
    color: white;
}

li {
    font-size: 1.2em;
}

/* Row 2 Banner */

#banner {
    background-color: gray;
    height: 250px;
    max-height: 250px;
}

/* Row 3 Section 1*/ 

#section1 > div, #section2 > div {
    align-items: center;
}


#section2 {
    background-color: #D9D9D9;
}

button {
    color:white;
    padding: 5px;
    background-color: #0353A4;
    width: 50%;
    border: 1px solid black;
    border-radius: 5px !important;
}
footer{
    background-color: #023E7D;
    display: fixed;
    bottom:0px; 
    padding: 2px;
}

/* Sign Up and Login pages */

.secondary-back {
    height: 400px;
    width: 80%;
    border-radius: 10px;
    border: 3px solid black;
    box-shadow: -1px 1px 10px black;

}

/* Form Buttons */

.job-button {
     background-color: #023E7D !important;
     color: white !important;
     border: 2px solid black !important;
     text-decoration: none !important;
}
.submit-button {
    background-color: green !important; 
    color: white !important;
}
 .srequired {
    color: red;
 }
/* Center vertically */
